body {
    font-family: Arial, sans-serif;
}

header.navbar {
    margin-bottom: 20px;
}

h1 {
    margin-top: 50px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group label {
    font-weight: bold;
}

.btn {
    font-size: 1.2em;
}
